<div class="poem_index">
  <h2>Poems</h2>
  <p id="notice"><%= notice %></p>
  <br>
  <br>
  <% @poems.each do |poem| %>
    <%= poem.poem %>
    <%= link_to 'Go back', users_path, class: "button" %>
  <% end %>
  <br>
  <%= link_to 'Add Poem', new_poem_path, class: "button" %>
</div>
