<p id="notice"><%= notice %></p>
<h1 id="welcome">Welcome to Rhyme Time</h1>
<table>
  <thead>
    <tr>
      <th>Options:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Log In', login_path %></td>
      <td><%= link_to 'Sign Up', signup_path %></td>
      <td><%= link_to 'See all Poems', poems_path %></td>
    </tr>
  </tbody>
</table>
<br>
