<h1>A-B-A-B Rhyme Scheme<h1>
<br>
<span>___________</span>
<span>___________</span>
<span>___________</span>
<span>___________</span>

<form>
    <input type="text" name="a1">
    <input type="text" name="b1">
    <input type="text" name="a1">
    <input type="text" name="b1">
</form>