<h1>Editing Word</h1>
<%= render 'form', word: @word %>
<%= link_to 'Show', @word %> |
<td><%= link_to 'Destroy', @word, method: :delete, data: { confirm: 'Are you sure?' } %> |</td>
<%= link_to 'Back', words_path %>
