/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Alegreya|Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Cormorant:500,500i&display=swap');


html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'roboto', sans-serif;
    background-image: url(seamless_paper_texture.png);
    background-repeat: repeat;
    text-align: center;
    width: 100%;
    min-height: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: white;
    background-image: url(black-background.png);
    grid-column: 1 / 7;
    grid-row: 0 / 1;
}

.header h1 {
    font-family: 'Cormorant', serif;
    font-style: italic;
    text-align: left;
    margin: auto;
    font-size: 3.5em;
    padding: 20px 20px;
}

#github_logo {
    grid-column: 7;
    grid-row: 1;
}

#github_logo img {
    width: 65px;
    height: 65px;
}

#school_logo {
    grid-column: 8;
    grid-row: 1;
}

#school_logo img {
    width: 135px;
    height: 65px;
}

.container {
    display: grid;
    grid-template-columns: 10% 10% 5% auto 10% 5% 65px 135px;
    grid-template-rows: 65px 10% 25% 10% 25% auto;
    grid-auto-flow: row;
}

.body_yield {
    grid-column: 4 / 5;
    grid-row-start: 3;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}